<div class="container">
  <!--Section heading-->
  <section class="section text-center">

    <!--Section heading-->
    <h2 class="font-weight-bold h1 py-5 text-center">
      <strong>kodla kapıyı aç</strong>
    </h2>
    <!--Section description-->


    <p class="grey-text text-left">kodu buraya gir ve butona bas : </p>
    <form class="col-12">
      <div [formGroup]="getin">
      <div class="row">
        <!-- Grid column -->
        <div class="col-6">
          <!-- Material input -->
          <div class="md-form mt-0">
            <input formControlName="getinCode" type="text" class="form-control" placeholder="giriş kodu">
          </div>
        </div>

        <div class="col-6">
          <!-- Grid row -->
          <div class="md-form mt-0">
   
            <button type="button" mdbBtn color="dark" (click)="enter(frame,wrong)" mdbWavesEffect>giriş aç</button>
          </div>
         
        </div>
      </div>
    </div>
    <div [formGroup]="getout">
      <div class="row">
        <!-- Grid column -->
        <div class="col-6">
          <!-- Material input -->
          <div class="md-form mt-0">
            <input formControlName="getoutCode" type="text" class="form-control" placeholder="çıkış kodu">
         
          </div>
        </div>

        <div class="col-6">
          <!-- Grid row -->
          <div class="md-form mt-0">

            <button type="button" mdbBtn color="dark" (click)="exit(frame,wrong)" mdbWavesEffect>çıkış aç</button>
          </div>
         
        </div>
      </div>
    </div>
    </form>
    <!-- Material form grid -->
  </section>
</div>


<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Kapı açıldı</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <mdb-icon fas icon="check" size="4x" class="animated rotateIn"></mdb-icon>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        
        <a type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">Ok</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #wrong="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">{{error}}</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="wrong.hide()">Ok</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
