<div class="container">
    <div  class="row justify-content-center">
    
            <form class="text-center border border-light p-5"   >
              <div [formGroup]="myGroup">

          
                <p class="h4 mb-4">Sign up</p>
          
                <div class="form-row mb-4">
                  <div class="col">
                    <!-- First name -->
                    <input type="text"  formControlName="name" class="form-control" placeholder="Ad">
                  </div>
                  <div class="col">
                    <!-- Last name -->
                    <input type="text"  formControlName="surname" class="form-control" placeholder="Soyad">
                  </div>
                </div>
          
                <!-- E-mail -->
                <input type="email"  class="form-control mb-4" formControlName="email" placeholder="E-mail">
          
                <!-- Password -->
                <input type="password"  class="form-control" placeholder="Şifre" formControlName="password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                <small  class="form-text text-muted mb-4">
                  At least 8 characters and 1 digit
                </small>
          
                <!-- Phone number -->
                <input type="text"  class="form-control" placeholder="Telefon Numarası" formControlName="number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
                <small  class="form-text text-muted mb-4">
               
                </small>

                 <!-- plaka number -->
                 <input type="text"  class="form-control"    placeholder="Plaka Numarası" formControlName="plaka" aria-describedby="defaultRegisterFormPhoneHelpBlock">
                 
                 <hr>
          
                <!-- Sign up button -->
                

                <a mdbBtn color="info" style="background-color: black !important;" class="my-4" type="reset" routerLink="/login" >hesabım var</a>

                <button mdbBtn color="info" style="background-color: black !important;" class="my-4" type="reset" (click)="onSubmit()" >Kaydet</button>
              </div>
             
              </form>

      </div>
</div>

   