


<div class="container">

    <!-- Jumbotron -->
<div class="jumbotron text-center mdb-color white balck-text">

  <!-- Title -->
  <h2 class="card-title h2">Rezervasyonlar</h2>

  <!-- Subtitle -->
  <p class="my-4 h6">Burada tüm rezervasyonların bilgilerini görebilirsiniz</p>

  <!-- Grid row -->
  <div class="row d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-md-3">
      Rezervasyonlar 
        <div style="display: block">
          <canvas mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
          </canvas>
        </div>
    </div>
    <div class="col-md-6">
      <ul class="list-group text-left">
        <li class="list-group-item">Kullanıcı sayısı : {{admins + users}}</li>
        <li class="list-group-item">Normal kullanıcı sayısı : {{users}} </li>
        <li class="list-group-item">Admin Kullanıcı Sayısı : {{admins}}  </li>
        <li class="list-group-item">Kazanç miktarı : {{profit}} TL</li>
        <li class="list-group-item">Ödeme bekleyen kazanç : {{commingProfit}} TL</li>

      </ul>
      
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->



</div>
<!-- Jumbotron -->
   
    
    
  
  
    <table mdbTable>
        <thead>
          <tr>
            <th scope="col">Rezervasyon Tarihi/Saati</th>
            <th scope="col">Giriş Tarihi/Saati</th>
            <th scope="col">Çıkış Tarihi/Saati</th>
            <th scope="col">Durum</th>
            <th scope="col">Kod</th>
            <th scope="col">Plaka</th>
            <th scope="col">Ücret</th>
            <th scope="col">Yer</th>
            <th scope="col">Ödeme Durumu</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let value of values">
            <td >{{value["rezDate"]}}/{{value["rezTime"]}}</td>
            <td >{{value["enterDate"]}}/{{value["enterTime"]}}</td>
            <td >{{value["exitDate"]}}/{{value["exitTime"]}}</td>
            <td *ngIf='value["durum"] == "çikti"'>Çıktı</td>
            <td *ngIf='value["durum"] == "girdi"'>Girdi</td>
            <td *ngIf='value["durum"] == "active"'>Aktif</td>
            <td >{{value["code"]}}</td>
            <td>{{value["parkNo"]}}</td>
            <td>{{value["ücret"]}}</td>
            <td>{{value["place"]}}</td>
            <td *ngIf="!value['odendi']" >
              <button mdbBtn type="button" color="info" (click)="ode(value['key'])"  mdbWavesEffect>Öde</button>
            </td>
            <td *ngIf="value['odendi']" >Ödendi</td>
          </tr>
         
        
        </tbody>
      </table>
</div>
