<!-- Material form row -->

<div class="container">

  <div *ngIf="visibleProgressBar" class="mt3 mb4 p4 col-12 text-center">
  <div  style="z-index: 10;" class="text-center">
    <div class="spinner-grow text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  </div>

<div *ngIf="!visibleProgressBar" class="mt3 mb4 p4 col-12 text-center">
    <h1>
        Bilgileri güncelleme
    </h1>


</div>
<form  *ngIf="!visibleProgressBar" class="mt4">
   


  <div [formGroup]="group">
    <!-- Grid row -->
    <div class="form-row">
      <!-- Grid column -->
      <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form mt-0">
          <input type="text" formControlName="name" class="form-control" placeholder="Ad">
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form mt-0">
          <input type="text" formControlName="surname" class="form-control" placeholder="Soyad">
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <div class="form-row">
        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form mt-0">
            <input type="text" formControlName="plaka" class="form-control" placeholder="Plaka Numarası">
          </div>
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form mt-0">
            <input type="text" formControlName="phone" class="form-control" placeholder="Telefon Numarası">
          </div>
        </div>
        <!-- Grid column -->
      </div>

    </div>
      <div class="form-row">
        <div class="col-md-6">
         
        
<button type="button" mdbBtn color="dark" class="waves-light" data-toggle="modal" data-target="#basicExample"
  (click)="ss(frame)" mdbWavesEffect>GüncellE</button>
</div>
</div>
<!-- Grid row -->
</form>
<!-- Material form row -->
</div>
<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Kişisel bilgileriniz başarıyla güncellendi</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <mdb-icon fas icon="check" size="4x" class="animated rotateIn"></mdb-icon>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        
        <a type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">Ok</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>