<!-- Material form grid -->


<div class="container">
  <!--Section heading-->
  <section class="section text-center">

    <!--Section heading-->
    <h2 class="font-weight-bold h1 py-5 text-center">
      <strong>Ücret Değiştirme</strong>
    </h2>
    <!--Section description-->
    <p class="grey-text pb-5 text-center mx-xl-5 px-xl-5"> Son fiyat durumu : {{value}} TL</p>

    <p class="grey-text text-left"> Yeni fiyat :  </p>
<form class="col-10">
    <!-- Grid row -->
    <div [formGroup]="group">
    <div class="row">
      <!-- Grid column -->
      <div class="col-8">
        <!-- Material input -->
        <div class="md-form mt-0">
          <input name="price"  type="number" class="form-control" formControlName="price" placeholder="Turkish Lira">
         
        </div>
      </div>

      <div class="col-2">
        <!-- Grid row -->
        <button type="button" (click)="onSubmit(frame)" mdbBtn color="dark" mdbWavesEffect>kaydet</button>
        </div>
    </div>
  </div>      
  </form>
  <!-- Material form grid -->    
  </section>
</div>



<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Yeni ücret başarıyla kaydedildi</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <mdb-icon fas icon="check" size="4x" class="animated rotateIn"></mdb-icon>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">

        <a type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect data-dismiss="modal"
          (click)="frame.hide()">Tamam</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>